/*Green About container section*/
.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}
.bottom-cloud {
  width: 100px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.bottom-cloud-right {
  width: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}

body {
  color: #40514e;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

p {
  line-height: 2;
}

hr {
  border: dotted #89d6d6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.middle-container {
  margin: 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.me {
  width: 80px;
  height: 80px;
}

.code {
  width: 25%;
  height: 25%;
  float: left;
  margin-right: 30px;
}

.more {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 30px;
}

.raven {
  width: 220px;
  height: 350px;
  border-radius: 20px;
}

.header {
  position: sticky;
  top: 0;
}
