.bottom-container {
  background-color: #c2e2fc;
  padding: 30px 0 10px;
  text-align: center;
  margin: 0;
}

.footer-link {
  margin-right: 20px;
  color: black;
  transition: color 0.3s ease;
  text-decoration: none;
}

.footer-link:hover {
  color: white;
}

.footer-icon {
  transition: transform 0.3s ease;
}
.footer-link-github {
  margin-right: 20px;
  color: black;
  transition: color 0.3s ease;
  text-decoration: none;
}
.footer-link-github:hover {
  color: white;
}

.footer-icon:hover {
  transform: scale(1.1);
}

.copyright {
  color: #eaf6f6;
  font-size: 1rem;
  padding: 20px 0;
  margin: 0;
}

.footer {
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 0;
}
