.navbar {
  background-color: #fefefe;
  /*box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);*/
  display: flex;
  justify-content: space-between;
  padding: 7px;
  margin-top: 0px;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 20px;
}

.nav-item {
  margin: 0 8px;
}

.logo {
  height: 1.5rem;
  float: left;
  position: relative;
  margin: 10px 15px 15px 10px;
}
.name {
  font-size: 32px;
  margin-top: 10px;
  color: #66bfbf;
}

.nav-link {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500px;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.nav-link {
  color: #333;
  text-decoration: none;
  font-size: 20px;
}

.nav-link:hover {
  color: #66bfbf;
}

.contact-button {
  background-color: #c2e2fc;
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #e4f9f5 !important;
}
.custom-nav-link:hover {
  background-color: transparent !important;
}

/* Add smooth color transition */
.custom-nav-link {
  transition: color 0.3s ease;
}

/* Change text color on hover */
.custom-nav-link:hover {
  color: #8ac2ec !important;
}
a.navbar-item:hover {
  background-color: transparent !important;
}
.custom-nav-link:hover {
  background-color: transparent !important;
}
